<main>
  <div>
    <app-saludo [nombre]="nombre"></app-saludo>
  </div>
  <div>
    <app-contador></app-contador>
  </div>
  <div>
    <app-lista-tareas></app-lista-tareas>
  </div>
  <div>
    <app-temporizador></app-temporizador>
  </div>
  <div style="margin-top: 10px">
    <app-comentario (comentarioEnviado)="agregarComentario($event)"></app-comentario>
    <ul>
      <li *ngFor="let com of comentarios">
        {{ com }}
      </li>
    </ul>
  </div>
  <div>
    <app-tarjeta-producto [nombre]="nombreProducto" [descripcion]="descripcion" [pvp]="precio"></app-tarjeta-producto>
  </div>
  <div>
    <app-calculadora></app-calculadora>
  </div>
  <div>
    <app-producto></app-producto>
  </div>
</main>
